<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- ============== CSS ===================== -->
    <title>Simulation</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/main.css">
</head>
<!-- ============== BODY =================== -->

<body ng-app="mainApp">
    <div class="container" ng-controller="paramCtrl as param">
        <div class="row" ng-include="'partials/inputs.html'"></div>
        <div class="row" ng-if="uni.hasFired" ng-controller="mainCtrl as main">
            <div class="col-xs-10">
                <div line-chart></div>
                <div toll-chart></div>
                <h3 style="margin-left:150px">{{summary | number: 0}}</h3>
                <div bar-chart>
                    <div class="btn-group">
                        <label class="btn btn-danger" ng-model="measure" btn-radio="'social'">social cost</label>
                        <label class="btn btn-danger" ng-model="measure" btn-radio="'total'">user cost</label>
                        <label class="btn btn-danger" ng-model="measure" btn-radio="'toll'">toll</label>
                        <label class="btn btn-danger" ng-model="measure" btn-radio="'SP'">schedule penalty</label>
                        <label class="btn btn-danger" ng-model="measure" btn-radio="'travel_cost'">travel cost</label>
                    </div>
                </div>
                <div mfd-chart></div>
            </div>
            <div class="col-xs-1">
                <div class="btn-group-vertical">
                    <label class="btn btn-primary" ng-model="tolling" btn-radio="'none'">None</label>
                    <label class="btn btn-primary" ng-model="tolling" btn-radio="'vickrey'">Vickrey</label>
                    <label class="btn btn-primary" ng-model="tolling" btn-radio="'distance'">Distance-Based</label>
                </div>
                <button class="btn btn-med {{ timer.paused ? 'btn-success' : 'btn-warning' }}" ng-click="timer.pause()">{{timer.paused ? "Play" : "Pause"}}</button>
            </div>
        </div>

        <div class="tip col-lg-4">
            <div class="col-lg-6" ng-repeat="(key, val) in param.info">
                {{key}} : {{val | number: 2}}
            </div>
        </div>
    </div>
</body>



<!-- ============== LIBRARIES =================== -->
<script src="libraries/angular.min.js"></script>
<script src='libraries/lodash.min.js'></script>
<script src="libraries/jquery-1.10.2.js" charset="utf-8"></script>
<script src="libraries/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="libraries/angular-slider.js"></script>
<script src="libraries/buttons.js"></script>
<script type="text/javascript" src="libraries/ui-bootstrap-custom-tpls-0.10.0.js"></script>

<!-- ============== SCRIPTS ====r=============== -->
<script type="text/javascript">
var app = angular.module('mainApp', ['ui.bootstrap']);
</script>

<!-- ============== MY STUFF =================== -->
<script src="scripts/DataService.js"></script>
<script src="scripts/controller.js"></script>
<script src="scripts/lineChart.js"></script>
<script src="scripts/bar.js"></script>
<script src="scripts/MFD.js"></script>
<script src="scripts/velChart.js"></script>
<script src="scripts/tollChart.js"></script>
<script src="scripts/distance.js"></script>

</html>
