<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- ============== CSS ===================== -->
  <title>Simulation</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->

  <!-- include: "type": "css", "files": "styles/**/*.css" -->
  <link rel="stylesheet" type="text/css" href="styles/main.css" />
  <!-- /include -->

</head>
<!-- ============== BODY =================== -->

<body ng-app="mainApp" ng-controller="paramCtrl as param">
  <div class="col-xs-12" ng-include="'partials/inputs.html'"></div>
  <div class="col-xs-12" ng-if="uni.hasFired" ng-controller="mainCtrl as main">
    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-6">
          <div line-chart></div>
        </div>
      </div>
      <div class="row">
        <div bar-chart class="col-xs-10">
          <table class="table">
            <tr>
              <th>max flow/min</th>
              <th ng-repeat="(key, val) in measures">{{key}}</th>
              <th>first</th>
              <th>last</th>
              <th>duration</th>
            </tr>
            <tr>
              <td>{{uni.maxQ}}</td>
              <td ng-repeat="(key, val) in measures">{{val | number: 1}}</td>
              <td>{{first}}</td>
              <td>{{last}}</td>
              <td>{{last - first}}</td>
            </tr>
          </table>
          <div class="btn-group">
            <label class="btn btn-danger" ng-model="measure" btn-radio="'social'">social cost</label>
            <label class="btn btn-danger" ng-model="measure" btn-radio="'user'">user cost</label>
            <label class="btn btn-danger" ng-model="measure" btn-radio="'toll'">toll</label>
            <label class="btn btn-danger" ng-model="measure" btn-radio="'SP'">schedule penalty</label>
            <label class="btn btn-danger" ng-model="measure" btn-radio="'travel_cost'">travel cost</label>
          </div>
        </div>
        <div mfd-chart></div>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="btn-group-vertical">
        <label class="btn btn-primary" ng-model="tolling" btn-radio="'none'">None</label>
        <label class="btn btn-primary" ng-model="tolling" btn-radio="'vickrey'">Vickrey</label>
        <label class="btn btn-primary" ng-model="tolling" btn-radio="'distance'">Distance-Based</label>
      </div>
      <button class="btn btn-med {{ timer.paused ? 'btn-success' : 'btn-warning' }}" ng-click="timer.pause()">{{timer.paused ? "Play" : "Pause"}}</button>
    </div>
  </div>

  <div class="tip col-lg-4">
    <div class="col-lg-6" ng-repeat="(key, val) in param.info">
      {{key}} : {{val | number: 2}}
    </div>
  </div>
  </div>
</body>

<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- endbower -->

<!-- ============== LIBRARIES =================== -->
<!-- <script src="libraries/buttons.js"></script> -->
<!-- <script type="text/javascript" src="libraries/ui-bootstrap-custom-tpls-0.10.0.js"></script> -->

<!-- ============== SCRIPTS ====r=============== -->
<script type="text/javascript">
var app = angular.module('mainApp', ['ui.bootstrap']);
</script>

<!-- include: "type": "js", "files": "js/**/*.js" -->
<script src="js/DataService.js"></script>
<script src="js/MFD.js"></script>
<script src="js/XT.js"></script>
<script src="js/bar.js"></script>
<script src="js/controller.js"></script>
<script src="js/distance.js"></script>
<script src="js/lineChart.js"></script>
<script src="js/tollChart.js"></script>
<script src="js/velChart.js"></script>
<!-- /include -->

</html>
